<p><%= notice %></p>

<%= render @blog %>

<div>
    <%= link_to "Edit this blog", edit_blog_path(@blog) %> |
    <%= link_to "Back to blogs", blogs_path %> 
    <%= render @blog.comments %>
  <div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCommentModal">
    Add Comment
  </button>
  </div>
  <%= button_to "Remove this blog", @blog, method: :delete, data: { confirm: "Are you sure?" } %>
</div>

<div class="modal fade" id="addCommentModal" tabindex="-1" aria-labelledby="addCommentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCommentModalLabel">Add Comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'comments/new', blog: @blog %>
      </div>
    </div>
  </div>
</div>